@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
/*
*{
    border: 1px solid red;
}
*/

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #4B4B4B
    line-height: 1.5;
    background-color: #F5F5F5;
}
[class*="__container"] {
	max-width: 1020px;
	margin: 0px auto;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1440px;
}
.header {
    background: url("../img/header/background.jpg") 0 0 no-repeat;
    max-width: 1440px;
    min-height: 800px;
}
.header__container{
}







/*promise*/
.titles {
}
.titles *:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.titles__label {
	padding: 0px 0px 0px 35px;
	background: url("../img/main/promise/Mark.svg") 0 -2px no-repeat;
	color: #5d62b5;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-weight: 700;
}
.titles__label_white {
	background: url("../img/title-icon_white.svg") 0 -2px no-repeat;
	color: #fff;
}
.titles__item {
	color: #000;
	font-size: 36px;
	line-height: 1.16;
	font-weight: 900;
}
.titles__item_white {
	color: #fff;
}

.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #f2726f;
}
.item-text {
	line-height: 1.5;
}
.promise {
	padding: 50px 0;
}
.promise__container {
}
.promise__header {
	margin: 0px 0px 68px 0px;
}
.promise__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -12px;
}
.promise__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 260px;
	/* flex: 0 1 324px; */
	/* max-width: 324px; */
}

.item-promise {
	display: flex;
	align-items: flex-start;
	column-gap: 23px;
}
.item-promise__icon {
	flex: 0 0 63px;
}
.item-promis__body {
}
.item-promise__title {
}

.item-promise__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-promise__text {
}


/*service*/
.services {
	overflow: hidden;
	padding: 100px 0px 112px 0px;
	position: relative;
}
.services::before {
	content: "";
	background: url("../img/mainpage/services/decor.png") left -490px no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(200px, 0px);
	width: 100%;
	height: 100%;
}
.services__container {
	position: relative;
	display: flex;
	flex-direction: column;
}
.services__container .services__header {
	margin: 0px 0px 74px 0px;
}
.services__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -12px;
}
.services__items:not(:last-child) {
	margin: 0px 0px 66px 0px;
}

.services__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 300px;
}
.services__button {
	align-self: center;
	background-color: #f2726f;
	border-radius: 8px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	padding: 12px 25px;
}

.item-services {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 50px 44px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	height: 100%;
}
.item-services:hover{
    box-shadow: 0 0 16px rgba(202, 18, 18, 0.605);
}
.item-services__icon {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.item-services__icon img {
	max-width: 100%;
	max-height: 63px;
}
.item-services__icon:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.item-services__title {
}
.item-services__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-services__text {
	flex: 1 1 auto;
}
.item-services__text:not(:last-child) {
	margin: 0px 0px 20px 0px;
}


.main{
    flex-grow: 1; 
}

.footer {
	background-color: #794f45;
	padding: 15px;
}
